################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/chapter02/GlazerCalc/.vs/GlazerCalc
/chapter02/GlazerCalc/GlazerCalc/obj
/chapter02/GlazerCalc/GlazerCalc/bin/Debug/netcoreapp3.1
/chapter03/GlazerCalc/.vs/GlazerCalc/v16
/chapter03/GlazerCalc/GlazerCalc/bin/Debug/netcoreapp3.1
/chapter03/GlazerCalc/GlazerCalc/obj
/chapter03/ArrayTests/bin/Debug/netcoreapp3.1
/chapter03/ArrayTests/obj
/chapter03/WorkingWithStreams/bin/Debug/netcoreapp3.1
/chapter03/WorkingWithStreams/obj
/chapter04/BankProgram/.vs/BankProgram/v16
/chapter04/BankProgram/obj
