################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/chapter02/GlazerCalc/.vs
/chapter02/GlazerCalc/GlazerCalc/obj
/chapter02/GlazerCalc/GlazerCalc/bin
/chapter03/GlazerCalc/.vs
/chapter03/GlazerCalc/GlazerCalc/bin
/chapter03/GlazerCalc/GlazerCalc/obj
/chapter03/ArrayTests/bin
/chapter03/ArrayTests/obj
/chapter03/WorkingWithStreams/bin
/chapter03/WorkingWithStreams/obj
/chapter04/BankProgram/.vs
/chapter04/BankProgram/obj
/chapter04/BankProgram/bin
/chapter04/BankProgram/.vs
/chapter04/.vs
/chapter05/BankProgram/obj
/chapter05/BankProgram/bin
/chapter05/BankProgram/.vs
